body {
	background-color: #FFFFFF;
	color: #2c2c2c;
	font-family: Verdana, Geneva, Helvetica, sans-serif;
	margin-left: 10%;
	margin-right: 10%;
}

h1 {
	font-weight: bold;
	font-family: Arial, Helvetica, Georgia, serif;
	font-size: 3.0em;
}

h2 {
	font-weight: bold;
	font-family: Arial, Helvetica, Georgia, serif;
	font-size: 2.0em;
}

h3 {
	font-weight: bold;
	font-family: Arial, Helvetica, Georgia, serif;
	font-size: 1.0em;
}

a[rel="external"] {
	background: url(external_link.png) 99% 40% no-repeat;
	padding-right: 15px;
}

.raise_output {
	color: #FFFFFF;
	font-family: Pragmata, Menlo, 'DejaVu LGC Sans Mono', 'DejaVu Sans Mono', Consolas, 'Everson Mono', 'Lucida Console', 'Andale Mono', 'Nimbus Mono L', 'Liberation Mono', FreeMono, 'Osaka Monospaced', Courier, 'New Courier', monospace;
	background-color: #000000;
	padding-top: 20px;
	padding-bottom: 20px;
}

.smile {
	font-family: Pragmata, Menlo, 'DejaVu LGC Sans Mono', 'DejaVu Sans Mono', Consolas, 'Everson Mono', 'Lucida Console', 'Andale Mono', 'Nimbus Mono L', 'Liberation Mono', FreeMono, 'Osaka Monospaced', Courier, 'New Courier', monospace;
	background-color: #4e9a06;
}

.frown {
	font-family: Pragmata, Menlo, 'DejaVu LGC Sans Mono', 'DejaVu Sans Mono', Consolas, 'Everson Mono', 'Lucida Console', 'Andale Mono', 'Nimbus Mono L', 'Liberation Mono', FreeMono, 'Osaka Monospaced', Courier, 'New Courier', monospace;
	background-color: #FF0000;
}

.normal {
	font-family: Pragmata, Menlo, 'DejaVu LGC Sans Mono', 'DejaVu Sans Mono', Consolas, 'Everson Mono', 'Lucida Console', 'Andale Mono', 'Nimbus Mono L', 'Liberation Mono', FreeMono, 'Osaka Monospaced', Courier, 'New Courier', monospace;
	color: #000000;
	background-color: #c4a000;
}

.raise_output .target {
	background-color: #3465a4;
}

.raise_output .failure {
	background-color: #FF0000;
}

.raise_output .success {
	background-color: #4e9a06;
}

#footer {
	text-align: left;
	font-size: 0.8em;
}




